<div class="fs-3 text-center mt-5">Login to join our Community!</div>
<div class="d-flex justify-content-center align-items-center ">
    <div id="g_id_onload"
    data-client_id="497455690301-dart9v17mj02qdpfi3jd0ksacq8ldskd.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-callback="handleCredentialResponse"
    data-auto_prompt="false">
    </div>

<div class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="filled_blue"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left">
</div>
</div>
